{% extends "./adminBase.html" %}

{% block title %}Edit Profile - Faculty Dashboard{% endblock %}

{% block body_class %}faculty-dashboard-page{% endblock %}

{% block content %}
<main class="container flex-grow-1 pt-5 student-editprofile-content" style="margin-top:-30px; max-width: 700px;">
  <div class="card shadow-sm p-4 border-0">
    <h2 class="text-center mb-4 student-editprofile-heading">Edit Student Profile</h2>

    <form id="editProfileForm" class="student-editprofile-form" method="POST">
      {% csrf_token %}

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-id-badge"></i></span>
        <input type="text" class="form-control" id="admn_no" name="admn_no" readonly value="{{ student.admn_no }}" />
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" id="fullName" name="fullName" required value="{{ student.full_name }}" />
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-envelope"></i></span>
        <input type="email" class="form-control" id="email" name="email" required value="{{ user.email }}" />
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
        <input type="tel" class="form-control" id="phone" name="phone" required value="{{ student.phone }}" />
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-building"></i></span>
        <select class="form-select" id="department" name="department" required>
          <option value="">Select department</option>
          <option value="computer science" {% if student.department == 'computer science' %}selected{% endif %}>Computer Science</option>
          <option value="physics" {% if student.department == 'physics' %}selected{% endif %}>physics</option>
          <option value="biology" {% if student.department == 'biology' %}selected{% endif %}>biology</option>
        </select>
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-id-badge"></i></span>
        <input type="text" class="form-control" id="rollNumber" name="rollNumber" required value="{{ student.roll_no }}" />
      </div>

      <div class="mb-4 input-group">
        <span class="input-group-text bg-white"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" />
      </div>

      <button type="submit" class="btn  w-100 student-editprofile-submit-btn">Save Changes</button>
    </form>
  </div>
</main> <br> <br>
{% endblock %}
