{% extends './base.html' %}
{% load static %}

{% block title %}Forgot Password - Student AMS{% endblock %}

{% block content %}
<div class="container forgot-container" style="margin-top:-20px;">
  <div class="row shadow-lg rounded-4 overflow-hidden">
    <!-- Left Icon Side -->
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center forgot-icon-side">
      <img src="{% static 'images/image6.png' %}" alt="Login Icon" class="login-img" style="max-width: 100%; max-height: 100%;">
    </div>

    <!-- Right Form Side -->
    <div class="col-md-6 forgot-form-side p-4">
      <h2 class="text-center mb-4">Forgot Password</h2>

      <form method="POST" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="userRole" class="form-label">Select Role</label>
          <select name="role" id="userRole" class="form-select" required>
            <option selected disabled value="">Select Role</option>
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Enter your registered Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required />
        </div>

        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-custom">Send Reset Link</button>
        </div>
      </form>

      <div class="mt-3 text-center">
        <small>
          Remember your password?
          <a href="{% url 'login' %}" class="text-decoration-none text-accent" style="font-size: 0.9rem;">Login here</a>
        </small>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
